*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    height: 100%;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}


header{
    background-color: #EAC926;
    padding: 20px;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header .main-navbar{

    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    display: block;
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

section.banner {
    width: 100%;
}

div.visitas
{
    display: flex;
    flex-grow: 1;
}

div.ofertas
{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    font-size: 18px;
    width: 30%;
}


.descuento{
    width: 70%;
    font-size: 16px;
    font-weight: normal;
}

.descripcion {
    font-size: 16px;
    font-weight: normal; 
    text-align: left; 
    padding-top: 5px; 
    color:grey
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section div.productos {
    flex-grow: 2;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuento{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    background-color: #fff; bottom: 0; 
} 

footer i {
    color: #03264C;
} 

footer section {
    text-align: center; 
    margin: 25px; 
}   

footer h4 {
    color: #666; 
    font-size: 18px; 
}
footer p{
    color: #666; 
    max-width: 75%; 
    margin: auto;
}

footer h5 {
    color: #666; 
    text-align: left; 
    font-size: 10px; 
    font-weight: 500; 
    margin: 30px 0 15px 15px; 
    padding-bottom: 25px; 
    display: block; 
    width: 100%;
}



/* Media Queries Tablet */
@media (min-width: 768px){

.main-header-top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo { 
    flex: 1 1 30%;
}
#buscador { 
    flex: 1 1 30%;
}

.top-header{
    font-weight: 200; text-align: right; display: inline-block;  flex: 3 1 33%;
}

.burguer-menu {
    display: none;
}

.main-navbar {
    display: flex; justify-content: space-between;
}

.main-navbar ul {
    display: flex; 
}

.main-navbar li {
    margin: 0 5px;
}

.main-navbar ul a {
    font-size: 16px;
}

main section div.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


main section div.productos article{
    width: 45%;
}
.precios,
.descuentos{
    width: 50%;
    }

}

/* Media Queries Desktop */
@media (min-width: 1200px){

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    }

#logo { 
    flex: 1 1 30%;
}

#buscador { 
    flex: 1 1 30%;
}

.top-header, header .p{
    font-weight: 200; text-align: right; display: inline-block;  flex: 3 1 33%;
}

header .burger-menu {
    display: none;
}

header .main-navbar {
    display: flex; justify-content: space-between;
}

header .main-navbar ul {
    display: flex; 
}

header .main-navbar li {
    margin: 0 5px;
}

header .main-navbar ul a {
    font-size: 16px;
}

main section div.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
main section div.productos article{
    width: 45%;
}

.precios,
.descuentos{
    width: 50%;
}

}

.icono-footer {
    width: 31%; 
    display:inline-block;
    text-align: center;
}

footer h5{
    margin-left: 55px;
}


