*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    height: 100%;
}


h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
    padding: 20px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}


header .main-navbar{
    visibility: hidden;
    display: none;
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.main-navbar ul a:hover {
    text-decoration: none; 
    color:#1758BB;
}

div.burger-menu{
    visibility: visible;
    display: block;
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

section.banner {
    width: 100%;
}

main section div.productos {
    display: block;
}

.precio{
    font-size: 18px;
    width: 30%;
}


.descuento{
    width: 70%;
    font-size: 16px;
    font-weight: normal;
}


.descripcion {
    font-size: 16px; 
    text-align: left; 
    padding-top: 5px; 
    color:#fff;}

#visitas article:hover .descripcion {
    color:#000;
}

#offers article:hover .descripcion{
    color:#000;
}

#visitas article:hover, #offers article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    animation: camion 0.5s 1;
}
.azul {color: blue; 
    font-size: 2em; 
    margin: 30px 0 15px 0; 
    transition: all 0.3s;
}
.azul:hover{
    color: #4548f1;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

/* PRODUCTOS */
main section article{
    background-color: #fff;
    width: 100%;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuento{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}





article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/* FORMS */
input + span {
    position: relative;
}

input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

input:invalid {
    border: 1px solid red;
}

input:invalid + span::before {
    content: '✖';
    color: red;
}

input:valid + span::before {
    content: '✓';
    color: green;
}

.create-form{
    padding: 20px 15px;
    margin-top: 15px;
}

.control-formulario {
    margin-bottom: 15px ;
}

.control-formulario label {
    margin-bottom: 5px ;
    display: block;
}
.label-titulo {
    margin-bottom: 5px ;
    display: block;
    font-weight: bold;
    width: 100%;
    
}
.perfil {
    display: flex; 
    flex-wrap: wrap;
}

.control-formulario .perfil .label-radio {
    flex: 2 1 auto; 
    text-align: left;
}

.espacio {
    padding-left: 30px;
}

.control{
    width: 100%;
    padding: 8px;
    border: 1px solid #979797;
    background-color: #f3f3f3;

}

.date {
    color: #333333; 
    font-family: 'Roboto', sans-serif;
}

select, textarea {
    color: #333333; 
    font-family: 'Roboto', sans-serif;
}

input:focus {
    background-color: rgb(228, 228, 228);
    border: none;
    color: #333333;
}

.boton {
    background-color: #0044AA;
    border: none;
    font-size: 17px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.boton:hover {
    background-color: #0022AA;
}

.cien{
    width: 100%;
}

/* Barra de busqueda */
.buscador{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    margin-left: 35px;
}

.container-1{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 100%;
    height: 25px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 7px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #d6d6d6;
}

footer {
    background-color: #fff; 
    bottom: 0; 
    padding-top: 5px;
} 

footer section {
    text-align: center;
    margin: 25px;
}

footer i {
    font-size: 20px;
} 


footer h4 {
    color: #666; 
    font-size: 18px; 
}
footer p{
    color: #666; 
    max-width: 75%; 
    margin: auto;
}

footer h5 {
    color: #666; 
    text-align: left; 
    font-size: 10px; 
    font-weight: 500; 
    margin: 30px 0 15px 15px; 
    padding-bottom: 25px; 
    display: block; 
    width: 100%;
}


/* Media Queries Tablet */
@media (min-width: 769px) {

#buscador { flex: 1 1 30%;}

div.top-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

header .main-navbar {
    margin-top: 25px;
    margin-bottom: 0px;
    visibility: visible;
    display: flex;
    justify-content: space-between;
}

header .main-navbar ul {
    display: flex; 
}

header .main-navbar li {
    margin: 0 5px;
}

header .main-navbar ul a {
    font-size: 16px;
}



div.burger-menu{
    visibility: hidden;
    display: none;
}



main section div.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.productos article{
    width: 45%;
}
.precios,
.descuentos{
    width: 50%;
}


}

/* Media Queries Desktop */
@media (min-width: 1200px) {
footer section {
    display: flex;
}

footer .copyright {
    display: flex;
    
}

footer div.iconos-footer {
    display: flex;
    flex-direction: column;
}

footer i {
    font-size: 28px;
    color:#1259c3;
} 

}