* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #EAC926;
}

header .main-header-top-bar {
    background-color: #EAC926;
    width: 90%;
    padding: 20px;
}

header .logo{
    width: 200px;
}

header .copy-header {
    font-weight: 400;
    text-align: center;
}

header .main-navbar {
    display: none;
}

header .main-navbar ul {
    list-style: none;
}

header .main-navbar a {
    text-decoration: none;
    color: black ;
    display: inline-block;
}

header .hamburger-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto ;
}

header .banner {
    width: 100%;
    padding-top: 10px;
}

/*  CODIGO VIEJO COPIADO AL NUEVO */
main {
    width: 100%;
    background-color: #ebebeb;

}

main section h4{
    font-size: 16px;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: white;
    border-radius: 50%;
    right: 5x;
    top: -15px;
}

main article section h3{
    font-size: 24px;
}

main article .description {
    border: 1px solid #ebebeb;
    padding: 20px ;
}

main .precio{
    font-size: 18px;
}

main p {
    font-size: 16px;
}

main section article img {
    width: 100%;
}


footer {
    line-height: 100%;
}

footer i{
    color: blue;
    margin: 2em 10px;
    font-size: 40px;
    margin: 0;
}


footer article{
    color: #666;
    text-align: center;
    padding: 10px;
    margin: 0;
}

footer p{
    font-size: 12px;
    margin: 0;
}

/* MEDIA QUERIES */







@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .hamburger-button{
        display: none;
    }
    .main-navbar {
        display:flex; 
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 5px;
    }

}



